body {
    background-image: url(https://smashinglogo.com/v3/envision/image.jpg?id=4b9ac13e-07e5-4673-afb7-6fefbb0c1cfc&format=desktop);
}

h1 {
    position: top;
}

a1 {
    text-decoration-color: blue;
    text-align: left;
}

.loading {
    position: absolute;
    top: 0;
    left: 0;
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    border: 6px solid crimson;
    border-top: 6px solid transparent;
    animation: rotate 1s infinite linear;
}

@keyframes rotate {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

footer {
    position: absolute;
    bottom: 0;
    right: 0;
    background-color: rgb(227, 238, 133);
    width: 100%;
    line-height: 20px;
    text-align: center;
}