body {
    background-image: url(https://smashinglogo.com/v3/envision/image.jpg?id=4b9ac13e-07e5-4673-afb7-6fefbb0c1cfc&format=desktop);
}

h1 {
    text-align: center;
    text-decoration: underline;
}

a1 {
    text-decoration-color: blue;
    text-align: left;
}

footer {
    position: absolute;
    bottom: 0;
    right: 0;
    background-color: rgb(227, 238, 133);
    width: 100%;
    line-height: 20px;
    text-align: center;
}