body {
    background-image: url(https://smashinglogo.com/v3/envision/image.jpg?id=4b9ac13e-07e5-4673-afb7-6fefbb0c1cfc&format=desktop);
}

/* h1 {
    position: absolute;
    top: 0;
    height: 20px;
    width: auto;
} */

a1 {
    text-decoration-color: blue;
    text-align: left;
}

.loading {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    border: 6px solid crimson;
    border-top: 6px solid transparent;
    animation: rotate 1s infinite linear;
}

@keyframes rotate {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

footer {
    position: absolute;
    bottom: 0;
    right: 50px;
    line-height: 0.1px;
    text-align: center;
    letter-spacing: 1.4px;
    width: 50%;
}

/* navigation */
nav {
    position: absolute;
    top: 0;
    right: 0;
    background-color: rgb(150, 149, 143);
    color: black;
}

nav ul {
    list-style-type: lower-roman;
    margin: 0;
    padding: 1px;
}

nav ul li {
    display: block;
}

nav ul li a {
    display: block;
    padding: 10px 20px;
    text-decoration: none;
    color: inherit;
}

nav ul li a:hover {
    background-color: black;
}

.change {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.change body {
    display: grid;
    place-items: center;
    height: 100vh;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
}

ul {
    transition: transform 0.5s;
}

li {
    display: flex;
    position: relative;
    width: 200px;
    height: 3rem;
    margin-bottom: 1px;
    transform: skewY(-15deg);
    list-style: none;
    cursor: pointer;
}

.text {
    display: block;
    position: relative;
    width: 100%;
    line-height: 3rem;
    background: #444757;
    color: #aaa;
    letter-spacing: 3px;
    padding-inline: 1rem;
}

.icon {
    display: grid;
    place-items: center;
    width: 3rem;
    transform: skewY(45deg);
    transform-origin: right;
    background: 2e3133;
    color: #ccc;
}
.glass {
    border: 1px solid rgba(255, 255, 255, 0.35);
    border-radius: 16px;
    background: rgb(245, 245, 0.9);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(2.8px);

    width: 20rem;
    height: 10rem;
    padding: 2.5rem;
}

h1 {
    height: 15rem;
    max-width: 1000px;
    padding: -20px;
    text-align: center;
    line-height: 1;
    font-family: Poppins;
    font-size: clamp(1rem, 7ww, 3rem);
    top: 1px;
    position: absolute;
    left: 2px;
}
.benefits {
    /* position: relative; */
    height: 1em;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    font-size: calc(1em + 10px);
}

.benefits span {
    background: -webkit-linear-gradient(#d403c6);
    -webkit-background-clip: text;
    -webkit-text-fill-color: rgb(224, 21, 207);
    animation: auto-scroll 15s infinite;
}

@keyframes auto-scroll {
    0% {
        transform: translateY(0);
    }
    5% {
        transform: translateY(0);
    }
    10% {
        transform: translateY(-1em);
    }
    30% {
        transform: translateY(-1em);
    }
    35% {
        transform: translateY(-2em);
    }
    55% {
        transform: translateY(-2em);
    }
    60% {
        transform: translateY(-3em);
    }
    80% {
        transform: translateY(-3em);
    }
    85% {
        transform: translateY(-4em);
    }
    100% {
        transform: translateY(-4em);
    }
}